---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Calendar from "../components/Calendar.astro";
import Contact from "../components/Contact.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <section>
                <h1>
                    Espacio de trabajo y asesoramiento para personas
                    emprendedoras
                </h1>
            </section>
            <section>
                <h2>Próximos Eventos</h2>
                <Calendar />
            </section>
            <hr />
            <section>
                <h2>
                    Haz despegar tus ideas y pon en marcha tu propio proyecto
                    empresarial
                </h2>
            </section>
            <section>
                <Contact />
            </section>
            <section>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.5359297690165!2d-6.789423087176542!3d37.871147606483575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd110c8162817f5d%3A0x6bbeb4200df976ca!2sC.%20Llana%2C%2018%2C%2021350%20Almonaster%20la%20Real%2C%20Huelva!5e0!3m2!1ses!2ses!4v1715442247903!5m2!1ses!2ses"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </main>
        <Footer />
    </body>
</html>
