<style>
    .container {
        display: flex;
        flex-direction: row;
        gap: 8px;
        width: 220px;
        height: 220px;
        margin: 16px;
        form {
            width: 60%;
        }
        .col-2 {
            width: 40%;
        }
    }
    #captchaContainer {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        height: 400px;
        border: 1px solid black;
        overflow: scroll;
    }
    .zone {
        background-color: black;
        width: 120px;
        height: 120px;
        color: white;
        background-size: cover;
    }
    .selected {
        -webkit-box-shadow: inset 0px 0px 0px 5px #000;
        -moz-box-shadow: inset 0px 0px 0px 5px #000;
        box-shadow: inset 0px 0px 0px 5px #000;
    }
    .hidden {
        display: none !important;
    }
    #captchaButton {
        background-color: #000;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 200px;
    }

</style>
<br />
<!-- <button id="captchaButton">Soy serrano</button> -->
<input id="captchaButton" type="button">otro botón</input>
<p>Para enviar el formulario de contacto, demuestra que eres serrano haciendo click en las imágenes relacionadas con la sierra</p>
<a id="close">Close</a>
<a id="open">Open</a>
<input id="captchaSecret" type="hidden" name="captcha" value="" />
<div id="captchaContainer" class="container">
    <div class="zone"></div>
</div>
<script>
  import { actions } from "astro:actions";
  const closeBtn = document.getElementById("close");
  const openBtn = document.getElementById("open");
  const container = document.getElementById("captchaContainer");
  const passkey = new Array();

  const images = [
      "anis",
      "beach1",
      "beach2",
      "beach3",
      "mezquita",
      "beach4",
      "bellota",
      "building",
      "city1",
      "gallipiernos",
      "guarros",
      "trafficjam",
      "trafficjam2",
      "trafficjam3",
      "trafficjam4",
  ];

  images.map((image, idx, all) => {

      const div = document.getElementsByClassName("zone")[0];
      // duplicate element div
      const newDiv = div.cloneNode(true) as HTMLElement;
      newDiv.style.backgroundImage = `url(src/assets/images/captcha/${image}_240.png)`;
      newDiv.dataset.value = image;
      newDiv.addEventListener("click", (e) => handleChoice(e));
      container?.appendChild(newDiv);
      // no entiendo por qué pero funciona
      if (idx === 1) {
          container?.removeChild(div);
      }
  });

  closeBtn?.addEventListener("click", closeContainer);
  openBtn?.addEventListener("click", openContainer);

  async function closeContainer() {
      container?.classList.add("hidden");
  }
  async function openContainer() {
      container?.classList.remove("hidden");
  }

  async function handleChoice(e: MouseEvent) {
      const target = e.target as HTMLElement;
      const choice = target.dataset.value;
      if (target?.classList.contains("selected")) {
          target.classList.remove("selected");
          choice ? removeChoice(choice) : null;
          return;
      } else {
          target.classList.add("selected");
      }
      passkey.push(choice);
/*
      const form = document.querySelector("form");
      if (!form) return;
      const data = new FormData(form as HTMLFormElement);

      data.append("captcha", passkey.join(""));

      const response = await fetch(form.action, {
          method: form.method,
          body: data,
      });
*/
  }

  function removeChoice(choice: string) {
      const index = passkey.indexOf(choice);
      if (index > -1) {
          passkey.splice(index, 1);
      }
  }
  const button = document.getElementById("captchaButton");

  button?.addEventListener("click", async () => {
    console.log('handle click')

      const { data, error } = await actions.getGreeting({
          name: passkey.join(","),
      });
      if (error) {
          console.error(error);
          return;
      }
      console.log(data);
      const secretInput:HTMLInputElement = document.getElementById('captchaSecret') as HTMLInputElement;
      if (secretInput) {
          secretInput.value = data.message;
      }

  });
</script>
