---
import Emailer from "../components/Emailer.tsx";
import { MailerSend, EmailParams, Sender, Recipient } from "mailersend";
import { Resend } from "resend";
import Captcha from "../components/Captcha.astro"

const resend = new Resend(import.meta.env.RESEND_APIKEY);
let isSubmitted = false;
console.log("init server");
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    console.log(formData);
}
/*
if (Astro.request.method === "POST") {
    console.log("POST");
  const formData = await Astro.request.formData();
  const username = formData.get("name")?.toString() || "";
  const email = formData.get("email")?.toString() || "";
  const about = formData.get("about")?.toString() || "";
  const token = formData.get('g-recaptcha-response')?.toString() || '';

  const sendForm = await resend.emails.send({
        from: "Web Coworking <info@coworkingalmonaster.site>",
        to: [
            "gonzalezdecastro.guillermo@gmail.com",
            // "juanjovazquezlimon@gmail.com",
        ],
        //to: 'gonzalezdecastro.guillermo@gmail.com',
        subject: "Formulario Coworking Almonaster",
        html: `<p>Nombre: ${username}</p><p>Email: ${email}</p><p>Mensaje: ${about}</p>`,
    });
}
*/
---

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 0;
        form {
            width: 60%;
        }
        .col-2 {
            width: 40%;
        }
    }
    form {
        margin: 48px 0;
    }
    .form-field {
        position: relative;
        margin-bottom: 32px;
        display: block;
        width: 100%;
    }
    .phone {
        height: 3px;
        input,
        label {
            color: #fefefe;
        }
    }
    .honey {
        color: #fefefe;
        border-color: #fefefe;
        position: absolute;
        left: -1000px;
    }
    label {
        font-size: 13px;
        top: -24px;
        position: absolute;
    }
    textarea,
    input {
        border: none;
        border-bottom: 2px solid black;
        width: 100%;
        background-color: transparent;
    }
    textarea {
        width: 100%;
        background-color: none;
    }
    .btn_submit {
        background-color: black;
        color: white;
        padding: 12px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        width: 200px;
        height: 50px;
    }
</style>
---
<div class="container">
    {
        !isSubmitted && (
            <form method="POST">
                <div class="form-field">
                    <label> Nombre </label>
                    <input type="text" name="name" />
                </div>
                <div class="form-field">
                    <label> Email </label>
                    <input type="email" name="email" />
                </div>
                <div class="form-field">
                    <label> Cuéntanos algo sobre tu proyecto: </label>
                    <textarea style="resize: none;" name="about" />
                </div>
                <input type="submit" class="btn_submit" value="Enviar" />
                <Captcha/>
            </form>
        )
    }
    {
        isSubmitted && (
            <p>
                Gracias por tu mensaje! Pronto nos pondremos en contacto
                contigo.
            </p>
        )
    }
</div>

<script>
    async function handleSubmit(e: Event) {
        e.preventDefault();
        console.log("submit");
        console.log(e.target);
        const form = e.target as HTMLFormElement;
        const formData = new FormData(e.target as HTMLFormElement);
        const username = formData.get("name")?.toString() || "";
        const email = formData.get("email")?.toString() || "";
        const about = formData.get("about")?.toString() || "";
        // set new formdata property
        formData.append('easterEgg', 'rabbit hole')
        console.log(username)
        const surprise = formData.get('easterEgg')
        console.log(surprise);

        const response = await fetch(form.action, {
          method: form.method,
          body: formData,
        });

        if (response.ok) {
          alert('Form submitted successfully!');
        } else {
          alert('Form submission failed.');
        }
    }
    console.log("init client");
    const form = document.querySelector("form");
    
</script>
