---
import Emailer from "../components/Emailer.tsx";
import { MailerSend, EmailParams, Sender, Recipient } from "mailersend";
import { Resend } from "resend";
import { default as RenamedCaptcha } from "../utils/captcha";

const resend = new Resend(import.meta.env.RESEND_APIKEY);
console.log("init");

function handleVerificationSuccess(token: string, ekey: string) {
    console.log("handleVerificationSuccess", token, ekey);
}
/*
if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const name = data.get("name");
        const email = data.get("email");
        const phone = data.get("phone");
        const about = data.get("about");
        const hCaptchaToken = data.get("h-captcha-response");
      
        const requestBody = new URLSearchParams({
            secret: import.meta.env.HCAPTCHA_SECRET,
            response: hCaptchaToken,
        })
        
        fetch("https://api.hcaptcha.com/siteverify", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json",
            },
            body: requestBody.toString()
        }).then(async (response) => {
            const data = await response.json();
            console.log(data);
            if (data.success) {
                //await sendEmail(name, email, phone, about);
            }
            console.log(data);
        });
        
        if (phone && phone.toString.length > 1) return;

        
        const sendStaff = await resend.emails.send({
            from: "Web Coworking <info@coworkingalmonaster.site>",
            to: [
                "gonzalezdecastro.guillermo@gmail.com",
                // "juanjovazquezlimon@gmail.com",
            ],
            //to: 'gonzalezdecastro.guillermo@gmail.com',
            subject: "Formulario Coworking Almonaster",
            html: `<p>Nombre: ${name}</p><p>Email: ${email}</p><p>Mensaje: ${about}</p>`,
        });

        // const send = await resend.emails.send({
        //     from: "From Name <info@coworkingalmonaster.site>",
        //     to: "gonzalezdecastro.guillermo@gmail.com",
        //     subject: "Coworking Almonaster",
        //     html: `<p>Hi ${name},</p><p>Hemos recibido tu mensaje.</p>`,
        // });

        if (sendStaff.data) {
            console.log("Email sent");
        } else {
            console.log("Email not sent");
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
var onSuccess = function (response:string) {
    console.log("¡Éxito del desafío!"+response)
};
*/
---
<style>
    .container {
        display: flex;
        flex-direction: row;
        gap: 0;
        form {
            width: 60%;
        }
        .col-2 {
            width: 40%;
        }
    }
    form {
        margin: 48px 0;
    }
    .form-field {
        position: relative;
        margin-bottom: 32px;
        display: block;
        width: 100%;
    }
    .phone {
        height: 3px;
        input,
        label {
            color: #fefefe;
        }
    }
    .honey {
        color: #fefefe;
        border-color: #fefefe;
        position: absolute;
        left: -1000px;
    }
    label {
        font-size: 13px;
        top: -24px;
        position: absolute;
    }
    textarea,
    input {
        border: none;
        border-bottom: 2px solid black;
        width: 100%;
        background-color: transparent;
    }
    textarea {
        width: 100%;
        background-color: none;
    }
    input[type="submit"] {
        background-color: black;
        color: white;
        padding: 12px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        width: 200px;
        height: 50px;
    }
</style>
<div class="container">
    <form method="POST">
        <div class="form-field">
            <label> Nombre </label>
            <input type="text" name="name" />
        </div>
        <div class="form-field">
            <label> Email </label>
            <input type="email" name="email" />
        </div>
        <!-- 
        <div
            class="h-captcha"
            data-sitekey="4cca2472-064e-4944-ae54-fca0dcd455ca"
        >
        -->
        <h-captcha
            id="signupCaptcha"
            site-key="4cca2472-064e-4944-ae54-fca0dcd455ca"
            size="normal"
            data-callback="onSuccess"
            tabindex="0"></h-captcha>
    </form>
    <div class="form-field phone">
        <label class="honey"> Teléfono </label>
        <input type="text" name="phone" class="honey" />
    </div>
    <div class="form-field">
        <label> Cuéntanos algo sobre tu proyecto: </label>
        <textarea style="resize: none;" name="about"></textarea>
    </div>

    <input type="submit" value="ENVIAR" />
</div>
<div class="col-2"></div>
