---

import { Debug } from 'astro:components';
interface Event {
  titulo: string;
  descripcion: string
  fecha: string
}

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        allEvents {
          titulo
          descripcion
          fecha
        }
      }`,
  }),
};
const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
const json = await response.json();
const allEvents: Event[] = json.data.allEvents;

---
{ allEvents  && allEvents.length > 0 &&  
( <section class="events-section">
  <h2>Próximos Eventos</h2>
  <ul>
    {
      allEvents.map((event) => (
        <li>
          <h3>{event.titulo}</h3>
          <p>{event.fecha}</p>
          <p>{event.descripcion}</p>
        </li>
      ))
    }
    </ul>
  </section> )
  }


    <style>
      h2 {
        margin-bottom: 16px;
      }
      ul {
        list-style: none;
        padding: 0;
      }
      li {
        margin-bottom: 16px;
      }
      .events-section {
          background-color: #ffe554;
          border: 2ch solid #ffe554;
          margin-bottom: 2.5rem;
      }
    </style>



