---
const today = new Date();
---

<footer>
    <p class="date">{today.getFullYear()} Hecho en Almonaster la Real</p>
</footer>
<style>
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #333;
        background: #F0F0F0DD;
        text-align: center;
    }
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
    .mark {
        color: gray;
    }
    .date {
        text-align: center;
    }
</style>
