---

type Post = {
  slug: string;
  title: string;
};

interface Event {
  titulo: string;
}



const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
    {
    allPosts {
    title
    slug
      }
    }`,
  }),
};
const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
const json = await response.json();
const allPosts: Post[] = json.data.allPosts;

---
<h1>Posts</h1>
{ allPosts ? (
  <ul>
    { allPosts.map((post:any) => (
      <li>
        <h2>{post.title}</h2>
        <a href={`/posts/${post.slug}`}>Ver post</a>
      </li>
    ))}
  </ul>
) : (
  <p>No hay posts</p>
)}
