<article class="event">
    <p class="date">Fecha: 29 de mayo de 2024</p>
    <p>
        Herramientas de marketing, distribución y comercialización de productos
        y servicios
    </p>
    <h4>Comercialización</h4>
    <p class="date">Fecha: 13 de junio de 2024</p>
    <p>
        Herramientas de marketing, distribución y comercialización de productos
        y servicios
    </p>
</article>
