<article class="event">
    <p>
        Ciclo de eventos dedicados al emprendimiento. Impulsa tu negocio hacia
        el futuro sostenible, tanto si ya tienes uno como si quieres montarlo:
        descubre, integra, y lidera para transformar desafíos globales en
        oportunidades locales.
    </p>
    <h4>Inteligencia de mercado</h4>
    <p class="date">Fecha: 13 de mayo de 2024</p>
    <p>Emprendimiento con triple impacto + inteligencia de mercado.</p>
    <h4>Financiación para proyectos sostenibles.</h4>
    <p class="date">Fecha: 29 de mayo de 2024</p>
    <p>
        Herramientas de marketing, distribución y comercialización de productos
        y servicios
    </p>
    <h4>Comercialización</h4>
    <p class="date">Fecha: 13 de junio de 2024</p>
    <p>
        Herramientas de marketing, distribución y comercialización de productos
        y servicios
    </p>
</article>
